body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u119 {
  position:fixed;
  left:50%;
  margin-left:-207px;
  top:0px;
  width:414px;
  height:736px;
  overflow:hidden;
}
#u119_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u119_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:64px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:64px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#000000;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:24px;
  width:103px;
  height:20px;
  font-size:17px;
  color:#000000;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:414px;
  height:1080px;
  overflow:hidden;
}
#u123_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:1080px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u123_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:2600px;
  overflow:hidden;
  touch-action:none;
}
#u124_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:2600px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u124_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:200px;
}
.u126 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:0px;
  width:400px;
  height:200px;
  text-align:left;
}
.u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:155px;
}
.u127 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:18px;
  width:155px;
  height:155px;
}
.u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u128 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:18px;
  width:95px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
.u128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
.u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
  font-size:14px;
}
.u129 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:125px;
  width:89px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
  font-size:14px;
}
.u129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
.u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u130 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:62px;
  width:99px;
  height:16px;
  color:#000000;
}
.u130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
.u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u131 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:157px;
  width:89px;
  height:16px;
}
.u131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
.u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
.u132 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:94px;
  width:100px;
  height:16px;
  color:#000000;
}
.u132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u125-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:200px;
}
#u125-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:407px;
  height:200px;
}
#u125-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:407px;
  height:200px;
}
#u125-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:407px;
  height:200px;
}
#u125-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:800px;
  width:407px;
  height:200px;
}
#u125-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1000px;
  width:407px;
  height:200px;
}
#u125-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1200px;
  width:407px;
  height:200px;
}
#u125-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1400px;
  width:407px;
  height:200px;
}
#u125-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1600px;
  width:407px;
  height:200px;
}
#u125-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1800px;
  width:407px;
  height:200px;
}
#u125-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2000px;
  width:407px;
  height:200px;
}
#u125-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2200px;
  width:407px;
  height:200px;
}
#u125-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2400px;
  width:407px;
  height:200px;
}
#u125-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2600px;
  width:407px;
  height:200px;
}
#u125-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2800px;
  width:407px;
  height:200px;
}
#u125-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3000px;
  width:407px;
  height:200px;
}
#u125-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3200px;
  width:407px;
  height:200px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:3400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:84px;
  width:327px;
  height:28px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:23px;
  width:13px;
  height:22px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
